[Unit]
Description=Minecraft Bedrock Server Daemon
After=network-online.target docker.service

[Service]
Type=notify

ExecStart=/usr/bin/minecraftd

[Install]
Wants=multi-user.target
